.navigateContainer {
  display: flex;
  align-items: center;
  margin-top: 40px;
  width: 100%;
  max-width: 1440px;
  margin-left: 40px;
}

.btnNav {
  text-decoration: none;
  color: #8b8b8b;
  border: 1px solid #dddddd;
  padding: 8px 16px;
  white-space: nowrap;
  border-radius: 6px;
  &:last-of-type {
    color: #282828;
  }
}

.line {
  height: 1px;
  background-color: #dddddd;
  width: 32px;
  &:last-of-type {
    display: none;
  }
}
