.priceContainer {
  display: flex;
  align-items: start;
}

.priceProduct {
  color: #8b8b8b;
  font-size: 40px;
  text-decoration: line-through;
  align-self: end;
  margin-right: 18px;
}
.discontPriceProduct {
  color: #282828;
  font-size: 64px;
  order: -1;
  margin-right: 32px;
  font-weight: bold;
}
.badge {
  background-color: #0d50ff;
  color: #fff;
  border-radius: 6px;
  font-size: 20px;
  padding: 2px 3px;
}
