.notFoundContainer {
  text-align: center;
  margin: 80px 0;
}
.title {
  font-size: 64px;
  margin-bottom: 16px;
  margin-top: 32px;
}

.info {
  color: #8b8b8b;
  max-width: 660px;
  font-size: 20px;
  margin-bottom: 32px;
}

.homeLink {
  padding: 16px 56px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #0d50ff;
  text-decoration: none;
  &:hover {
    background-color: #282828;
    color: #fff;
  }
  &:active {
    background-color: #fff;
    color: #282828;
    border: 1px solid #282828;
  }
}
