.priceContainer {
  display: flex;
  column-gap: 16px;
  align-items: flex-end;
  margin-top: 16px;
  padding: 0 32px 32px 32px;
}
.priceProduct {
  color: #8b8b8b;
  font-size: 20px;
  text-decoration: line-through;
  width: 320px;
}
.discontPriceProduct {
  color: #282828;
  font-size: 40px;
  order: -1;
}
.blueBox {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: #0d50ff;
  color: #fff;
  border-radius: 6px;
  font-size: 20px;
}
.imageProduct {
  max-width: 320px;
  width: 100%;
  height: auto;
  object-fit: contain;
  height: 300px;
}
.addItemToCart {
  padding: 16px 56px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #0d50ff;
  text-decoration: none;
  position: absolute;
  top: 210px;
  left: 16px;
  right: 16px;
  transition: background-color 0.3s, color 0.3s;
  z-index: 5;
  &:hover {
    background-color: #282828;
    color: #fff;
  }
  &:active {
    background-color: #fff;
    color: #282828;
    border: 1px solid #282828;
  }
}

.added {
  background-color: #fff;
  color: #282828;
  border: 1px solid #282828;
}

.productCard {
  position: relative;
  max-width: 316px;
  border: 1px solid #dddddd;
  border-radius: 12px;
  min-width: 316px;
}

.titleProduct {
  color: #282828;
  font-size: 20px;
  padding: 0 32px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
