.headerContainer {
  background-color: #dddddd;
  width: 100%;
  max-width: 1440px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.linkContainer {
  display: flex;
  column-gap: 32px;
}

.nav {
  text-decoration: none;
}

.basket {
  position: relative;
}
.basketBadge {
  width: 26px;
  height: 26px;
  position: absolute;
  top: 7px;
  left: 0;
  background-color: #0d50ff;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
}
