.mainContainer {
  max-width: 1440px;
  width: 100%;
}

.discountContainer {
  height: 600px;
  background-image: url("../../assets/img/DiscountImg.jpg");
  width: 100%;
  padding: 40px;
}

.title {
  font-size: 96px;
  color: #ffffff;
  padding: 40px 0;
}

.accentButton {
  padding: 16px 56px;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  background-color: #0d50ff;
  text-decoration: none;
  &:hover {
    background-color: #282828;
    color: #fff;
  }
  &:active {
    background-color: #fff;
    color: #282828;
    border: 1px solid #282828;
  }
}

.saleSection {
  margin-top: 80px;
}
